# Default ignored files
/shelf/
/workspace.xml

# IntelliJ
.idea/
*.iml
out/
*.iws

# Maven
target/

# Gradle
.gradle/
**/build/
space-operation-center/gradlew
space-operation-center/gradlew.bat
space-operation-center/gradle/**
space-operation-center/gradle.properties

mission-scheduler/gradlew
mission-scheduler/gradlew.bat
mission-scheduler/gradle/**
mission-scheduler/gradle.properties


# Load test reports
load-tests/*.html
load-tests/*.json

# OS
.DS_Store
Thumbs.db